# Analytical queries executed from fact and dimension tables on Sparkify's dwh database.

In [5]:
import configparser

# CONFIG
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(config.get("CLUSTER","DB_USER"), 
                                                 config.get("CLUSTER","DB_PASSWORD"), 
                                                 config.get("CLUSTER","HOST"),
                                                 config.get("CLUSTER","DB_PORT"),
                                                 config.get("CLUSTER","DB_NAME"))
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [27]:
%sql SELECT * FROM songplays where song_id is NOT NULL and artist_id is NOT NULL LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(5, datetime.datetime(2018, 11, 10, 10, 22, 23, 796000), 37, 'free', 'SOLXIKN12A8C13DF6F', 'ARUPCKH124549A3AF0', 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (15, datetime.datetime(2018, 11, 24, 17, 44, 45, 796000), 29, 'paid', 'SOYKAIZ12A6D4F97B2', 'ARW1MUW1187FB4D5A1', 898, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (25, datetime.datetime(2018, 11, 20, 18, 4, 37, 796000), 10, 'free', 'SOVAHFD12A8C13CA8E', 'ARAGT961187FB4193B', 717, 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (41, datetime.datetime(2018, 11, 14, 4, 5, 55, 796000), 80, 'paid', 'SOTGCTV12AB0188AEE', 'AR6DZXH1187FB52DD3', 548, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (44, datetime.datetime(2018, 11, 22, 3, 5, 55, 796000), 26, 'free', 'SOKEWOD12A8C1423D0', 'ARUXOWB1187FB3F562', 820, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [28]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(0, datetime.datetime(2018, 11, 29, 17, 25, 44, 796000), 49, 'paid', 'SOGAUNE12A6D4F995C', 'AR83Z6A1187B9B8DAF', 1041, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (3, datetime.datetime(2018, 11, 19, 20, 48, 24, 796000), 42, 'paid', 'SOFRWEQ12A58A7DF40', 'ARH5FJJ1187FB3F787', 632, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (6, datetime.datetime(2018, 11, 2, 11, 33, 20, 796000), 15, 'paid', 'SOPXTAX12A6D4F573B', 'AR2FAMK1187FB4CF60', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (12, datetime.datetime(2018, 11, 26, 6, 45, 13, 796000), 49, 'paid', 'SORVTHZ12A8AE4540B', 'ARDRXUM1187FB4D131', 930, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (21, datetime.datetime(2018, 11, 29, 16, 40, 32, 796000), 16, 'paid', 'SOBRFPG12A8AE4837D', 'AR1N3PB1187B9B25C1', 983, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')]

In [29]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [30]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOABNBI12A8C13F890', 'Mon légionaire', 'AR5O86P1187FB3B8CD', 0, Decimal('216')),
 ('SOABNPW12A6D4FC9B5', 'The Canals Of Our City', 'ARQOBT71187FB4CCCA', 2005, Decimal('141')),
 ('SOABQFG12A58A7C6A7', 'Seven Samurai - ending theme', 'ARKZESI119B86682ED', 0, Decimal('340')),
 ('SOABVPU12AB018AA22', 'Conquer Me', 'ARZZRK91187B9A5CA5', 2009, Decimal('180')),
 ('SOABWGO12AB0182725', "I'm Just A Prisoner", 'ARCCX2V1187B99DEE6', 1976, Decimal('192'))]

In [31]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR026BB1187B994DC3', 'Ijahman Levi', '', None, None),
 ('AR035N21187FB3938E', 'BT', 'Earth', Decimal('34'), Decimal('-102'))]

In [32]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 1, 29, 36, 796000), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 3, 5, 57, 796000), 3, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 8, 18, 796000), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 26, 49, 796000), 9, 2, 44, 11, 2018, 5)]

In [9]:
%sql SELECT first_name, count(start_time) FROM (songplays JOIN users ON songplays.user_id = users.user_id) GROUP BY users.first_name ORDER BY count DESC LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Chloe', 1039),
 ('Tegan', 976),
 ('Kate', 829),
 ('Lily', 764),
 ('Aleena', 563)]

In [11]:
%sql SELECT hour, count(start_time) FROM time GROUP BY hour ORDER BY count DESC LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ciuetmmzdpq2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(16, 626), (18, 579), (15, 577), (17, 572), (14, 504)]